<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="core/general.html :: headblock"/>
    <title>Awesome shop - ADMIN!</title>
</head>
<body>
<th:block th:insert="core/general.html :: header"/>

<div class="container">
    <div class="my-3">
        <a type="button" class="btn btn-outline-primary" th:href="@{/admin/product}">Назад</a>
    </div>

    <div class="col-md-6 offset-md-3">
        <h2 class="my-3">Редактирование товара</h2>
        <form th:method="POST" th:action="@{/admin/product/{id}(id = ${product.id})}" th:object="${product}">
            <div class="mb-3">
                <label for="bgTitle" class="form-label">Название игры</label>
                <input type="text" class="form-control" th:field="*{bgTitle}" id="bgTitle" placeholder="Название игры" required>
            </div>
            <div class="mb-3">
                <label for="imgUrl" class="form-label">Ссылка на картинку</label>
                <input type="text" class="form-control" th:field="*{imgUrl}" id="imgUrl" placeholder="Ссылка" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Описание игры</label>
                <input type="text" class="form-control" th:field="*{description}" id="description">

            </div>
            <div class="mb-3">
                <label class="form-label" for="price">Стоимость</label>
                <input type="number" class="form-control" th:field="*{price}" id="price">

            </div>
            <div class="mb-3">
                <label class="form-label" for="amount">Количество</label>
                <input type="number" class="form-control" th:field="*{amount}" id="amount">

            </div>
            <button type="submit" class="btn btn-success">Сохранить</button>
        </form>
    </div>
    <div class="alert alert-danger" role="alert" th:if="${message}" th:text="${message}">Message</div>
</div>

<th:block th:insert="core/general.html :: footer"/>
</body>
</html>
