<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="core/general.html :: headblock"/>
    <title>Awesome shop - ADMIN!</title>
</head>
<body>
<th:block th:insert="core/general.html :: header"/>

<div class="container">
    <a type="button" class="btn btn-outline-secondary" th:href="@{/admin/product}">Назад</a>
    <h2>Создание нового товара</h2>
    <form class="col card p-3 my-5" th:method="post" th:action="@{/admin/product/new}">
        <div class="form-group">
            <div>
                <label>Введите название игры</label>
                <input class="form-control" id="bgTitle" placeholder="Введите название" required autocomplete="off"
                       th:field="*{product.bgTitle}"
                       type="text"/>
            </div>
            <div>
                <label>Вставьте ссылку на картинку</label>
                <input class="form-control" id="imgUrl" placeholder="Вставьте ссылку на изображение" required autocomplete="off"
                       th:field="*{product.imgUrl}"
                       type="text"/>
            </div>
            <div>
                <label>Введите стоимость товара</label>
                <input class="form-control" id="price" placeholder="Введите стоимость товара" required autocomplete="off"
                       th:field="*{product.price}"
                       type="number"/>
            </div>
            <div>
                <label>Введите количество товара</label>
                <input class="form-control" id="amount" placeholder="Количество товара" required autocomplete="off"
                       th:field="*{product.amount}"
                       type="number"/>
            </div>
            <div>
                <label>Введите описание игры</label>
                <input class="form-control" id="description" placeholder="Описание игры" required autocomplete="off"
                       th:field="*{product.description}"
                       type="text"/>
            </div>

            <br>
            <div>
                <input class="btn btn-primary" type="submit" value="Создать товар">
                <input class="btn btn-dark" type="reset" value="Очистить поля">
            </div>
        </div>
    </form>
    <div class="alert alert-danger" role="alert" th:if="${message}" th:text="${message}">Message</div>
</div>
</body>
</html>
