<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="core/general.html :: headblock"/>
    <title>Awesome shop - ADMIN!</title>
</head>
<body>
<th:block th:insert="core/general.html :: header"/>

<div class="container">

    <div class="my-3">
        <a type="button" class="btn btn-outline-primary" th:href="@{/admin}">Назад</a>
        <a type="button" class="btn btn-outline-success" th:href="@{/admin/product/new}">Создать</a>
    </div>

    <h2 class="my-3">Список товаров</h2>

    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>№</th>
            <th>Картинка</th>
            <th>Название</th>
            <th>Стоимость</th>
            <th>Количество</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${#lists.isEmpty(products)}">
            <td class="text-center" colspan="4">Нет записей</td>
        </tr>
        <tr th:each="product : ${products}">
            <td class="align-middle" th:text="${product.id}"></td>
            <td class="align-middle" th:text="${product.imgUrl}"></td>
            <td class="align-middle" th:text="${product.bgTitle}"></td>
            <td class="align-middle" th:text="${product.price}"></td>
            <td class="align-middle" th:text="${product.amount}"></td>
            <td class="align-middle d-flex">
                <a class="btn btn-primary mx-1" th:href="@{/admin/product/{id}(id = ${product.id})}">Редактировать</a>
                <form th:method="POST" th:action="@{/admin/product/delete/{id}(id = ${product.id})}">
                    <button type="submit" class="btn btn-danger mx-1">Удалить</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="alert alert-danger" role="alert" th:if="${message}" th:text="${message}">Message</div>
</div>

<th:block th:insert="core/general.html :: footer"/>
</body>
</html>
