<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="core/general.html :: headblock"/>
    <title>Awesome shop - ADMIN!</title>
</head>
<body>
<th:block th:insert="core/general.html :: header"/>

<div class="container">
    <div class="my-3">
        <a type="button" class="btn btn-outline-primary" th:href="@{/admin}">Назад</a>
    </div>

    <h2 class="my-3">Список пользователей</h2>

    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>№</th>
            <th>Email</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Роль</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${#lists.isEmpty(users)}">
            <td class="text-center" colspan="6">Нет записей</td>
        </tr>
        <tr th:each="user : ${users}">
            <td class="align-middle" th:text="${user.id}"></td>
            <td class="align-middle" th:text="${user.email}"></td>
            <td class="align-middle" th:text="${user.firstName}"></td>
            <td class="align-middle" th:text="${user.lastName}"></td>
            <td class="align-middle" th:text="${user.role}"></td>
            <td class="align-middle d-flex"><form th:method="POST" th:action="@{/admin/user/change_role/{id}(id = ${user.id})}">
                                                <button type="submit" class="btn btn-primary">Сменить роль</button>
                                            </form>
                <form th:method="POST" th:action="@{/admin/user/delete/{id}(id = ${user.id})}">
                    <button type="submit" class="btn btn-danger mx-1">Удалить</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

</div>

<th:block th:insert="core/general.html :: footer"/>
</body>
</html>
