<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="core/general.html :: headblock"/>
    <title>Awesome shop - USER!</title>
</head>
<body>
<th:block th:insert="core/general.html :: header"/>

<div class="container">

    <div class="my-3">
        <a type="button" class="btn btn-outline-primary" th:href="@{/user/product}">За покупками</a>
    </div>

    <h1 class="my-3">Корзина</h1>
<!--    <form th:method="POST" th:action="@{/admin/product/{id}(id = ${product.id})}" th:object="${product}">-->
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th scope="col">Изображение</th>
            <th scope="col">Название</th>
            <th scope="col">Описание</th>
            <th scope="col">Стоимость</th>
            <th scope="col">Количество</th>
            <th scope="col">Действие</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${#maps.isEmpty(products)}">
            <td class="text-center" colspan="4">Вы еще ничего не добавили в корзину</td>
        </tr>
        <tr th:each="product : ${products.entrySet()}">
            <td ><div><img th:attr="src=@{${product.getKey().imgUrl}}"/></div></td>
            <td th:text="${product.getKey().bgTitle}"></td>
            <td th:text="${product.getKey().description}"></td>
            <td th:text="${(product.getKey().price)*product.getValue()}"></td>
            <td th:text="${product.getValue()}"></td>
            <td>
                <a  th:href="@{/user/delete/{id}(id = ${product.getKey().id})}">
                    <button type="button" class="btn btn-danger mx-1">Удалить</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <div>
        <h3 class="my-3">Итого: <a th:text="${totalCount}"></a></h3>
    </div>
    <form th:method="POST" th:action="@{/user/buying}">
        <button type="submit" class="btn btn-success">Купить</button>
    </form>




    <div class="information " role="contentinfo" th:if="${both}">Спасибо за покупку!</div>
</div>

<th:block th:insert="core/general.html :: footer"/>
</body>
</html>
