<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="core/general.html :: headblock"/>
    <title>Awesome shop - USER!</title>
</head>
<body>
<th:block th:insert="core/general.html :: header"/>

<div class="container">
    <div class="my-3">
        <a type="button" class="btn btn-outline-primary" th:href="@{/user/product}">Назад</a>
        <a type="button" class="btn btn-outline-primary" th:href="@{/user}">Перейти в корзину</a>
    </div>

    <div class="col-md-6 offset-md-3">
        <h2 class="my-3" th:text="${product.bgTitle}"></h2>

            <div><img th:attr="src=@{${product.imgUrl}}"/></div>
            <div class="mb-3">
                <h5 class="my-3" >Описание игры</h5>
                <div th:text="${product.description}" id="description"></div>
            </div>
            <div class="mb-3">
                <h5 class="my-3">Стоимость</h5>
                <div th:text="${product.price}" id="price"></div>
            </div>
            <div class="mb-3">
                <h5 class="my-3">Количество</h5>
                <div th:text="*{product.amount}" id="amount"></div>

            </div>
        <form th:method="POST" th:action="@{/user/product/{id}(id = ${product.id})}" th:object="${product}">
            <input class="btn btn-success" th:classappend="${product.isSoldOut() ? 'disabled' : ''}"
                   type="submit" value="В корзину">
        </form>
    </div>
</div>

<th:block th:insert="core/general.html :: footer"/>
</body>
</html>
