<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="core/general.html :: headblock"/>
    <title>Awesome shop - USER!</title>
</head>
<body>
<th:block th:insert="core/general.html :: header"/>

<div class="container">

    <div class="my-3">
        <a type="button" class="btn btn-outline-primary" th:href="@{/user}">Перейти в корзину</a>
    </div>

    <h2 class="my-3">Список товаров</h2>

    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th scope="col">Изображение</th>
            <th scope="col">Название</th>
            <th scope="col">Описание</th>
            <th scope="col">Стоимость</th>
            <th scope="col">Количество</th>
            <th scope="col">Действие</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${#lists.isEmpty(products)}">
            <td class="text-center" colspan="4">Нет записей</td>
        </tr>
        <tr th:each="product : ${products}">
            <td ><div><img th:attr="src=@{${product.imgUrl}}"/></div></td>
            <td th:text="${product.bgTitle}"></td>
            <td th:text="${product.description}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.amount}"></td>
            <td><a class="btn btn-primary" th:href="@{/user/product/{id}(id = ${product.id})}">Подробнее</a></td>
        </tr>
        </tbody>
    </table>

    <div class="alert alert-danger" role="alert" th:if="${message}" th:text="${message}">Message</div>
</div>

<th:block th:insert="core/general.html :: footer"/>
</body>
</html>
