<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main menu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Helpdesk</title>
    <style>
        body {
            background: url(img/shop.jpg) no-repeat; /* Путь к фоновому изображению */
            background-size: cover;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-md">
        <a class="navbar-brand">Awesome shop </a>
        <span class="navbar-text">Добро пожаловать, любитель настольных игор!!!!</span>
        <span>
            <a type="button" class="btn btn-primary" th:href="@{/login}">Войти</a>
            <a type="button" class="btn btn-primary" th:href="@{/registration}">Регистрация</a>
        </span>
    </div>
</nav>
<div class="container">

    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th scope="col">Изображение</th>
            <th scope="col">Название</th>
            <th scope="col">Описание</th>
            <th scope="col">Стоимость</th>
            <th scope="col">Количество</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td ><div><img th:attr="src=@{${product.imgUrl}}"/></div></td>
            <td th:text="${product.bgTitle}"></td>
            <td th:text="${product.description}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.amount}"></td>

<!--            <td><a class="btn btn-primary" th:href="">Подробнее</a></td>-->
        </tr>
        </tbody>
    </table>
    <br>
<!--    <a class="btn btn-primary" th:href="">Создать новую заявку</a>-->
</div>


</body>
</html>